{% include "front/inc/header" %}

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        {% include "sign/third_part_connect" is_signin=true %}
        <div class="signin-panel panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Sign In</h3>
          </div>
          <div class="panel-body">
            {% include "front/inc/error" %}
            <form role="form" method="post" enctype="multipart/form-data">
              <input type="hidden" name="_csrf" value="{{_csrf|escape}}">
              <fieldset>
                <div class="form-group">
                  <input class="form-control" placeholder="Username or E-mail" name="login" type="text" value="{{_server.body.login|escape}}" autofocus>
                </div>
                <div class="form-group">
                  <input class="form-control" placeholder="Password" name="password" type="password" value="{{_server.body.password|escape}}">
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                </div>
                <div class="form-group">
                  <a href="/forgot_password">Forgot password? Click here to reset your password.</a>
                </div>
              </fieldset>
            </form>
            {% include "sign/third_part_signin" %}
          </div>
        </div>
        <p>
          <a href="{{app_data.c|escape}}">Return to {{app_name|app_get_title_by_name|escape}}</a>
        </p>
      </div>
    </div>
  </div>

{% include "front/inc/footer" %}

<script>
$('#ipt-passport-type').change(function () {
  var name = $(this).val();
  if (!name) return;
  location = '/passport/' + name;
});
</script>
