{% include "admin/inc/header" %}
{% include "admin/inc/nav" %}

  <div class="container">
    {% if error %}<div class="alert alert-danger">{{error|escape}}</div>{% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Users({{user_count|escape}})
          <button class="btn btn-xs btn-info view-history">History</button>
          <button class="btn btn-xs btn-primary add-user">Add</button>
        </h3>
      </div>
      <table class="table table-striped">
        <tr>
          <th width="50">ID</th>
          <th width="180">Name</th>
          <th>E-mail & Third-Part Account</th>
          <th width="50">Valid</th>
          <th width="155">Created At</th>
          <th width="155">Update At</th>
          <th width="170">Operations</th>
        </tr>
        {% for item in users %}
          {% assign connect_list = item.id|passport_list_by_user_id %}
        <tr>
          <td>#{{item.id|escape}}</td>
          <td>{{item.name|escape}}</td>
          <td>
            <strong>{{item.email|escape}}</strong>
            {% for c in connect_list %}
            <div><strong>{{c.unique_id|escape}}</strong>@{{c.provider|escape}}</div>
            {% endfor %}
          </td>
          <td>{% if item.is_valid %}Yes{% else %}No{% endif %}</td>
          <td>{{item.created_at|date:'%Y-%m-%d %H:%M:%S'|escape}}</td>
          <td>{{item.updated_at|date:'%Y-%m-%d %H:%M:%S'|escape}}</td>
          <td>
            <a href="/admin/user/history?user_id={{item.id|escape}}" class="btn btn-xs btn-info">History</a>
            <button class="btn btn-xs btn-primary edit-user" data-id="{{item.id|escape}}">Edit</button>
            <button class="btn btn-xs btn-danger delete-user" data-id="{{item.id|escape}}" data-name="{{item.name|escape}}">Delete</button>
          </td>
        </tr>
        {% endfor %}
      </table>
      <div class="panel-body">
        {% include "admin/inc/pagination" count=user_count %}
      </div>
    </div>
  </div>

{% include "admin/inc/footer" %}

<script>
$('.view-history').click(function () {
  location = '/admin/user/history';
});
$('.add-user').click(function () {
  location = '/admin/user/add';
});
$('.edit-user').click(function () {
  var id = $(this).data('id');
  location = '/admin/user/edit?id=' + id;
});
$('.delete-user').click(function () {
  var $me = $(this);
  var id = $me.data('id');
  var name = $me.data('name');
  if (!confirm('Are you sure delete user #1(' + name + ')?')) return;
  ajaxRequest.delete('/admin/user/list/' + id + '.json', {}, function (err, ret) {
    if (err) return alert(err);
    location.reload();
  });
});
</script>
