{% include "admin/inc/header" %}
{% include "admin/inc/nav" %}

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="signin-panel panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Edit Application #{{input.id|escape}}</h3>
          </div>
          <div class="panel-body">
            {% if error %}
            <div class="alert alert-danger">{{error|escape}}</div>
            {% endif %}
            <form role="form" method="post" enctype="multipart/form-data">
              <input type="hidden" name="_csrf" value="{{_csrf|escape}}">
              <input type="hidden" name="id" value="{{input.id|escape}}">
              <div class="form-group">
                <label for="ipt-name">Name</label>
                <input type="text" class="form-control" id="ipt-name" placeholder="Application Name" name="name" value="{{input.name|escape}}">
              </div>
              <div class="form-group">
                <label for="ipt-client">Client</label>
                <input type="url" class="form-control" id="ipt-client" placeholder="Client URL" name="client"value="{{input.client|escape}}">
              </div>
              <div class="form-group">
                <label for="ipt-key">Key</label>
                <input type="text" class="form-control" id="ipt-key" placeholder="Secret Key" name="key" value="{{input.key|escape}}">
              </div>
              <div class="form-group">
                <label for="ipt-title">Title</label>
                <input type="text" class="form-control" id="ipt-title" placeholder="Title" name="title" value="{{input.title|escape}}">
              </div>
              <div class="form-group">
                <label for="ipt-description">Description</label>
                <textarea class="form-control" id="ipt-description" placeholder="Application Description" rows="5" name="description">{{input.description|escape}}</textarea>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="is_sync" value="1" {% if input.is_sync %}checked{% endif %}> Sync
                </label>
              </div>
              <hr>
              <button type="submit" class="btn btn-primary btn-block">UPDATE INFO</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <span class="panel-title">Available Call List</span>
          </div>
          <div class="panel-body">
          {% for item in available_call_list %}
            {% assign is_available = input.id|app_call_check:item %}
            <div class="checkbox">
              <label>
                <input type="checkbox" data-id="{{input.id|escape}}" data-name="{{item|escape}}" class="update-app-call-list" {% if is_available %}checked{% endif %}> {{item|escape}}
              </label>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

{% include "admin/inc/footer" %}

<script>
$(function () {

  $('.update-app-call-list').click(function () {
    var $me = $(this);
    var id = $me.data('id');
    var name = $me.data('name');
    var data = {app_id: id, name: name};
    if ($me.prop('checked')) {
      ajaxRequest.post('/admin/app/call.json', data, callback);
    } else {
      ajaxRequest.delete('/admin/app/call.json', data, callback);
    }
    function callback (err, ret) {
      if (err) alert(err);
      refreshAvailableCallList();
    }
  });

  function refreshAvailableCallList () {
    $('.update-app-call-list').each(function () {
      var $me = $(this);
      if ($me.prop('checked')) {
        $me.closest('.checkbox').addClass('checked');
      } else {
        $me.closest('.checkbox').removeClass('checked');
      }
    });
  }
  refreshAvailableCallList();

});
</script>

