{% include "admin/inc/header" %}
{% include "admin/inc/nav" %}

  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Applications <button class="btn btn-xs btn-primary add-app">Add</button></h3>
      </div>
      <table class="table table-striped">
        <tr>
          <th width="50">ID</th>
          <th width="155">Name</th>
          <th width="50">Sync</th>
          <th width="155">Created At</th>
          <th width="155">Update At</th>
          <th>Description</th>
          <th width="105">Operations</th>
        </tr>
        {% for item in apps %}
        <tr>
          <td>#{{item.id|escape}}</td>
          <td>{{item.name|escape}}</td>
          <td>{% if item.is_sync %}Yes{% else %}No{% endif %}</td>
          <td>{{item.created_at|date:'%Y-%m-%d %H:%M:%S'|escape}}</td>
          <td>{{item.updated_at|date:'%Y-%m-%d %H:%M:%S'|escape}}</td>
          <td>{{item.description|escape}}</td>
          <td>
            <button class="btn btn-xs btn-primary edit-app" data-id="{{item.id|escape}}">Edit</button>
            <button class="btn btn-xs btn-danger delete-app" data-id="{{item.id|escape}}" data-name="{{item.name|escape}}">Delete</button>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

{% include "admin/inc/footer" %}

<script>
$('.add-app').click(function () {
  location = '/admin/app/add';
});
$('.edit-app').click(function () {
  var id = $(this).data('id');
  location = '/admin/app/edit?id=' + id;
});
$('.delete-app').click(function () {
  var $me = $(this);
  var id = $me.data('id');
  var name = $me.data('name');
  if (!confirm('Are you sure delete app #1(' + name + ')?')) return;
  ajaxRequest.delete('/admin/app/list/' + id + '.json', {}, function (err, ret) {
    if (err) return alert(err);
    location.reload();
  });
});
</script>
