{% include "admin/inc/header" %}
{% include "admin/inc/nav" %}

  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Applications <button class="btn btn-xs btn-primary">Add</button></h3>
      </div>
      <table class="table table-striped">
        <tr>
          <th width="50">ID</th>
          <th width="155">Name</th>
          <th>Client</th>
          <th width="50">Sync</th>
          <th width="155">Created At</th>
          <th width="155">Update At</th>
          <th width="105">Operations</th>
        </tr>
        {% for item in apps %}
        <tr>
          <td>#{{item.id|escape}}</td>
          <td>{{item.name|escape}}</td>
          <td>{{item.client|escape}}</td>
          <td>{% if item.is_sync %}Yes{% else %}No{% endif %}</td>
          <td>{{item.created_at|date:'%Y-%m-%d %H:%M:%S'|escape}}</td>
          <td>{{item.updated_at|date:'%Y-%m-%d %H:%M:%S'|escape}}</td>
          <td>
            <button class="btn btn-xs btn-primary">Edit</button>
            <button class="btn btn-xs btn-danger">Delete</button>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

{% include "admin/inc/footer" %}
